@model Blog.BLL.Dtos.PageDto

@{
    ViewBag.Title = Model.Title;
    Layout = "_Layout";
}

<div class="container">

    <h2 class="text-center">
        @Model.ShortTitle
    </h2>

    <hr/>

    @Html.Raw(Model.Body)
</div>
