@{
    ViewBag.Title = "Обо мне";
    Layout = "_Layout";
}

<div class="container">

    <h2 class="text-center">
        Обо мне
    </h2>

    <hr/>

    <div class="row">
        <div class="col-xs-12 col-md-4 text-center">
            <img src="/static/avatar.jpg" class="img-fluid img-thumbnail mb-5" style="max-height: 280px;" alt="Тут будет нормальная аватарка"/>
        </div>
        <div class="col-xs-12 col-md-8">
            <h2>
                Седов Роман
            </h2>
            <p>
                Мой возраст - 25 лет. Являюсь junior разработчиком на платформе .NET Framework, активно изучаю платформу .NET 6. Опыт не коммерческой разработки - 2 года.
                Опыт коммерческой разработки - 1.5 месяца :)
            </p>
            <p>
                <a href="https://github.com/kellhusCorp">
                    <i class="fa fa-2x fa-github"></i>
                </a>
            </p>
        </div>
    </div>

    <h2>
        Технологии/инструменты (основной взор на них):
    </h2>

    <ul>
        <li>
            ASP.NET MVC (Framework) / Core
        </li>
    </ul>

    <p>
        Я работал со следующими инструментами и технологиями:
    </p>

    <table class="table">
        <tbody>
        <tr>
            <th>Languages</th>
            <td>C#, Python, JavaScript (little bit)</td>
        </tr>
        <tr>
            <th>Web</th><td>ASP.NET Core, ASP.NET (MVC), HTML, XML, CSS, ReactJS, jQuery, Ajax, IIS, Nginx</td>
        </tr>
        <tr>
            <th>Desktop</th><td>WPF, WinForms</td>
        </tr>
        <tr>
            <th>Mobile</th><td>Xamarin Forms</td>
        </tr>
        <tr>
            <th>Communication</th><td>WebApi</td>
        </tr>
        <tr>
            <th>ORM</th><td>Entity Framework (6 и Core)</td>
        </tr>
        <tr>
            <th>Unit tests</th><td>MSTest, NUnit, Moq</td>
        </tr>
        <tr>
            <th>Databases</th><td>MS SQL, PostgreSQL (little bit), SQLite, MongoDb (little bit)</td>
        </tr>
        <tr>
            <th>Build tools</th><td>MSBuild</td>
        </tr>
        <tr>
            <th>CI/CD</th><td>Gitlab CI/CD</td>
        </tr>
        <tr>
            <th>Version control</th><td>GIT, SVN</td>
        </tr>
        <tr>
            <th>IDLEs</th><td>Visual Studio (13, 19, 22), Visual Studio Code, Rider, PyCharm</td>
        </tr>
        <tr>
            <th>Operating systems</th><td>Windows (7, 10), Ubuntu 20.04 (little bit)</td>
        </tr>
        <tr>
            <th>Containerization</th><td>Docker</td>
        </tr>
        </tbody>
    </table>
</div>